<?xml version="1.0"?>
<launch>
  
  <rosparam command="load" file="$(find arbitration_utils)/config/config.yaml" />
  <rosparam command="load" file="$(find arbitration_utils)/config/scene_objects.yaml" />
  <node pkg="arbitration_utils" type="arbitration_node" name="arbitration_node" output="screen"/>
  
  <node pkg="object_loader" type="context_manager_node" name="context_manager_node" output="screen"/>
  
</launch>
